body{
  margin:0;
  background-color: #f6f8fa;
  font-family: 'Work Sans', sans-serif;
  color:rgb(77, 80, 83);
}


#shorten-button,
#all-button {
    background-color: #276ef1;
    color: #fff;
    font-size: 16px;
    line-height: 2; 
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 100px;
    max-width: 100px;   
}

#copy-button {
  background-color: #41b10e;
  color: #fff;
  font-size: 16px;
  line-height: 2;
  
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 100px;
    max-width: 100px;
  
  }

  .input-output{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }